body{
    display: block;
    margin-bottom:20vmin
}

mat-card{
    position: relative;
    background: #F2F2F2;
    width: 1150px;
    transform: translate(30%, 0%);
    padding-top: 40px;
}

mat-card-title{
    font-size: 45px;
    text-align: center;
}

mat-card-subtitle{
    padding-top: 10px;
    font-size: 17px;
}

mat-card-content{
    padding-left: 10px;
    padding-top: 10px;
    font-size: 23px;
    font-family: "Bahnschrift";
}

img{
    width: 900px;
}
#description{
    font-size: 20px;
}

#warning-message{
    color:red;
}

.column {
    float: left;
    width: 60%;
  }
  