<h1 style="text-align: center;">Turistica Company</h1>
<h4>U nas znajdziesz niestandardowe, najbardziej kreatywne i najtańsze wycieczki turystyczne! </h4>
<p>
    Korzystanie z naszej strony internetowej pozwala na: <br> 
    <li>Przeglądanie dostępnych ofert wyjazdów turystycznych.</li>
    <li>Pozyskiwanie szczegółowych informacji o wybranym wyjeździe.</li>
    <li>Rejestrację oraz logowanie użytkowników.</li>
    <li>Zapisywanie na wyjazd.</li>
    <li>Wypisywanie z wyjazdu.</li>
</p><br>
<p>
    W przypadku jakichkolwiek problemów z aplikacją należy kontaktować się z administratorem.<br>
</p><br>
<p style="transform: translate(100%,0); width: 50%;">
    <b style="font-size: 18px;">Kontakt</b> <br>
    Paweł Maciończyk <br>
    macionczyk.paw@gmail.com
</p> <br><br>
<div style="font-size:14px;">
    Aplikacja została stworzona w ramach realizowania pracy dyplomowej w 2021 roku.
</div>
