<body style="padding-top: 135px;">
    <mat-card>
        <mat-card-content>
            <h3>Logowanie</h3>
            <form [formGroup]="loginFormGroup">
                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email" >
                    <mat-error>
                      Wprowadź poprawny adres email!
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput type="password" placeholder="Hasło" formControlName="password">
                    <mat-error>
                      Hasło musi zawierać min. 8 znaków!
                    </mat-error>
                  </mat-form-field>
                  <button [disabled]="!loginFormGroup.valid" (click)="login()" mat-button>Zaloguj</button>
            </form>            
        </mat-card-content>
        
      </mat-card>
</body>