<body style="padding-top: 135px;">
  <mat-card>
    <mat-card-content>
      <h3>Zmiana hasła</h3>
      <form [formGroup]="changePasswordFormGroup">

        <mat-form-field>
          <input matInput type="password" placeholder="Obecne hasło" formControlName="oldPassword" required>
          <mat-error>
            Hasło musi zawierać min. 8 znaków!
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Nowe hasło" formControlName="newPassword" required>
          <mat-error>
            Hasło musi zawierać min. 8 znaków!
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Powtórz nowe hasło" formControlName="repeatNewPassword" required>
          <mat-error>
            Hasła muszą być takie same!
          </mat-error>
        </mat-form-field>
        <button id="changePasswordBtn" [disabled]="!changePasswordFormGroup.valid" (click)="changePassword()" mat-button>Zmień hasło</button>
      </form>
      <div style="text-align: left; margin-top: 10px; color: #5f4f4f; font-size:12px">
        * - pole obowiązkowe
      </div>
    </mat-card-content>
  </mat-card>
</body>