<body style="padding-top: 135px;">
    <mat-card>
        <mat-card-content>
            <h3>Tworzenie nowego konta</h3>
            <form [formGroup]="addNewUserFormGroup">

                <mat-form-field>
                    <input matInput placeholder="Imię" formControlName="name" required>
                    <mat-error>
                      To pole nie może być puste!
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput placeholder="Nazwisko" formControlName="lastName" required>
                    <mat-error>
                        To pole nie może być puste!
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email" required>
                    <mat-error>
                      Wprowadź poprawny adres email!
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput placeholder="Numer telefonu" formControlName="phoneNumber" >
                    <mat-error>
                      Wprowadź poprawny numer telefonu!
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field>
                    <mat-select placeholder="Rola użytkownika" formControlName="role" required>
                        <mat-option value="ROLE_GUIDE">
                          Przewodnik
                        </mat-option>
                        <mat-option value="ROLE_ADMIN">
                            Administrator
                          </mat-option>
                      </mat-select>
                    <mat-error>
                      To pole nie może być puste!
                    </mat-error>
                  </mat-form-field>

                  <button [disabled]="!addNewUserFormGroup.valid" (click)="addNewUser()" mat-button>Utwórz konto</button>
            </form>
            <div style="text-align: left; margin-top: 10px; color: #5f4f4f; font-size:12px">
                * - pole obowiązkowe
            </div>
        </mat-card-content>
      </mat-card>
</body>