<mat-toolbar class="navbar" style="margin-bottom:110px">
  <div class="image-container">
    <img src="./assets/images/logo_turistica.png" width="120px" style="padding-top: 10px;" routerLink="">
  </div>
  <div style="font-family:Bahnschrift; padding-right: 30px;">
    <span routerLink="/trips">Przeglądaj oferty</span>
    <span routerLink="/archive-trips">Oferty archiwalne</span>
    <span routerLink="/login"> Zaloguj się</span>
    <span routerLink="/register">Utwórz konto</span>
    <span>Kontakt</span>  
  </div>
</mat-toolbar>

<router-outlet></router-outlet>

<div class="footer">
  <!-- All rights reserved. Strona utworzona przez: Paweł Maciończyk. -->
</div>

