<mat-toolbar class="navbar" style="margin-bottom:110px">
  <div class="image-container">
    <img src="./assets/images/logo_turistica.png" width="120px" style="padding-top: 10px;" routerLink="">
  </div>
  <div style="font-family:Bahnschrift; padding-right: 30px;">
    <span routerLink="/trips">Przeglądaj oferty</span>
    <span routerLink="/archive-trips">Oferty archiwalne</span>
    <span *ngIf="this.isAuthenticated===false" routerLink="/login"> Zaloguj się</span>
    <span *ngIf="this.isAuthenticated===false" routerLink="/register">Utwórz konto</span>
    <span>Kontakt</span>  
    <span *ngIf="this.isAuthenticated===true" (click)="logout()">Wyloguj</span>
    <span *ngIf="this.role==='ROLE_GUIDE'" routerLink="/create-trip">Stwórz ofertę wyjazdu</span>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>

<div class="footer">
  <!-- All rights reserved. Strona utworzona przez: Paweł Maciończyk. -->
</div>

