<body style="padding-top: 135px;">
  <mat-card>
    <mat-card-content>
      <h3>Rejestracja</h3>
      <form [formGroup]="registerFormGroup">

        <mat-form-field>
          <input matInput placeholder="Imię" formControlName="name" required>
          <mat-error>
            To pole nie może być puste!
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Nazwisko" formControlName="lastName" required>
          <mat-error>
            To pole nie może być puste!
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Ulica i nr budynku / nr mieszkania" formControlName="address" required>
          <mat-error>
            To pole nie może być puste!
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Miejscowość" formControlName="city" required>
          <mat-error>
            To pole nie może być puste!
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Kod pocztowy" formControlName="postcode" required>
          <mat-error>
            To pole nie może być puste!
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" required>
          <mat-error>
            Wprowadź poprawny adres email!
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Numer telefonu" formControlName="phoneNumber">
          <mat-error>
            Wprowadź poprawny numer telefonu!
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Hasło" formControlName="password" required>
          <mat-error>
            Hasło musi zawierać min. 8 znaków!
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Powtórz hasło" formControlName="repeatPassword" required>
          <mat-error>
            Hasła muszą być takie same!
          </mat-error>
        </mat-form-field>
        <button [disabled]="!registerFormGroup.valid" (click)="register()" mat-button>Zarejestruj</button>
      </form>
      <div style="text-align: left; margin-top: 10px; color: #5f4f4f; font-size:12px">
        * - pole obowiązkowe
      </div>
    </mat-card-content>
  </mat-card>
</body>