<h2 mat-dialog-title>Edytuj wyjazd: {{data.name}}</h2>
<mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Limit osób</mat-label>
        <input matInput type="number" [(ngModel)]="data.peopleLimit" required/>
    </mat-form-field><br />
    <mat-form-field appearance="fill">
        <mat-label>Opis wyjazdu</mat-label>
        <textarea matInput type="text" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5" cdkAutosizeMaxRows="15" [(ngModel)]="data.description"></textarea>
    </mat-form-field><br />
    <mat-form-field appearance="fill">
        <mat-label>Mapa do osadzenia (HTML)</mat-label>
        <textarea matInput type="text" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5" cdkAutosizeMaxRows="15" [(ngModel)]="data.map"></textarea>
    </mat-form-field><br />
</mat-dialog-content>

<mat-dialog-actions style="justify-content: center;">
    <button mat-button [mat-dialog-close] (click)="cancel()">Anuluj</button>
    <button mat-button [mat-dialog-close]="true" (click)="submit()"> Zapisz</button>
</mat-dialog-actions>