<mat-toolbar class="navbar">
  <div class="image-container">
    <img src="./assets/images/logo_turistica.png" width="120px" style="padding-top: 10px;">
  </div>
  <div style="font-family:Bahnschrift; padding-right: 30px;">
    <span>Przeglądaj oferty</span>
    <span>Oferty archiwalne</span>
    <span>Zaloguj się</span>
    <span>Utwórz konto</span>
    <span>Kontakt</span>
    <!-- <a>
      <img class="user-icon" src="./assets/images/user.png" width="40px">  
    </a> -->
   
  </div>
</mat-toolbar>

<div class="big-image-container">
  <img src="./assets/images/home-page.jpg" alt="Mountains" style="width:100%; padding-top: 120px;">
  <div class="centered">
    <div id="big-text-on-image" unselectable="on">
      TURISTICA
    </div>
    <div id="text-on-image">
      Aplikacja webowa wspomagająca organizację wyjazdów turystycznych.
    </div>
  </div>
</div>

<mat-toolbar class="footer">
  All rights reserved. Strona utworzona przez: Paweł Maciończyk.
</mat-toolbar>


<router-outlet></router-outlet>
