<body style="padding-top: 135px;">

    <mat-form-field>
        <input [(ngModel)]="beginDate" matInput [matDatepicker]="beginDatePicker" [min]="minDate" placeholder="Początek wyjazdu">
        <mat-datepicker-toggle  [for]="beginDatePicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker name="beginDatePicker"  #beginDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <input [(ngModel)]="endDate" matInput [matDatepicker]="endDatePicker" [min]="minDate" placeholder="Koniec wyjazdu" >
        <mat-datepicker-toggle  [for]="endDatePicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker name="endDatePicker"  #endDatePicker></mat-datepicker>
    </mat-form-field>

    <button id="filter-button" (click)="filter()" mat-button>Filtruj</button>
    

    <mat-card *ngFor="let trip of trips"> 
        <div class="row">
            <div id="img-column" class="column">
                <img *ngIf="trip.tripType == 'Turystyka górska'" src="./assets/images/mountains.png">
                <img *ngIf="trip.tripType == 'Turystyka miejska'" src="./assets/images/city.png">
                <img *ngIf="trip.tripType == 'Turystyka morska'" src="./assets/images/sea.png">
            </div>
            <div class="column"> 
                <mat-card-title routerLink="/trip-details/{{trip.id}}">{{trip.name}}</mat-card-title>
                <mat-card-subtitle>{{trip.tripType}}</mat-card-subtitle></div>
                <mat-card-content>
                    Data wyjazdu: <b>{{trip.beginDate}} r. - {{trip.endDate}} r.</b> <br><br>
                    Cena: <b>{{trip.pricePerPerson}} zł/os. </b>
                </mat-card-content>
          </div>
      </mat-card>

</body>
